*{
  margin: 0;
  padding: 0;
}

.container{
  background: whitesmoke;
  width: 60%;
  height: 700px;
  border: 1px solid white;
  position: absolute;
  top: 3%;
  left: 15%;
}

.header{
  background: lavender;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  width: 90%;
  position: relative;
  left: 4%;
  top: 3%;

}

.header h2{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 20%;
}

.screen-wrapper{
  background: skyblue;
  height: 150px;
  width: 92%;
  margin: auto;
  position: relative;
  top: 4%;
  right: 0.2%;
  left: 0.4%;
  border-radius: 5px;
  border: 1px solid black;
}

#row{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.3em;
  position: relative;
  left: 3%;
}


.keypad-wrapper{
  width: 90%;
  margin: auto;
  padding 10px;
  position: relative;
  top: 5%;
}

.keypads{
  background: lightgrey;
  height: 440px;

}

#row .col-1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}

.col-1{
  position: relative;
  top: 9%;
}

.col-1 .num{
  text-align: center;
  padding: 10px;
}

.col-1 .num h3{
  position: relative;
  top: 30%;
  bottom: 50%;
}


.keypads .num{
  width: 100px;
  height: 60px;
  background: black;
  color: white;
  border-radius: 8px;
}

#row .col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.1em;
  position: relative;
  top: 15%;
  right: 6%;
}

.col-2{

}

.col-2 .sign{
  text-align: center;
  padding: 10px;
  width: 80px;
  height: 40px;
  background: teal;
  color: white;
  border-radius: 8px;
}

.col-2 .sign h4{
  position: relative;
  top: 30%;
  bottom: 50%;
}
